

/* hier komen de aanpassingen voor de accountinstellingen */
.account-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparante achtergrond */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  /* Zorg ervoor dat de overlay bovenop alles wordt weergegeven */
}
.account-overlay.account-show {
  display: flex;
  /* of display: block; of display: grid; afhankelijk van je lay-out */
}
.account-ww_container {
  background-image: url("../img/popup.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f9f9f9;
  width: 700px;
  height: 500px;
  position: absolute;
  top: 45%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  border: 2px solid #000000; 
  border-radius: 20px;
}
input[id="password_popup_password"],
input[id="password_popup_password_confirmation"]{
  position: fixed;
  top: 30%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  flex: 1;
  width: 250px;
  padding: 12px;
}

input[id="password_popup_password_confirmation"]{
  top: 45%;
}
.account-popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Schaduw voor de pop-up */
  max-width: 80%;
}

.account-save_password_button {
  position: absolute;
  background: linear-gradient(to right, #0097B2, #A7C520);
  width: 15vw;
  height: 3vw;
  border-radius: 10vw;
  color: white;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
}

.account-border {
  width: 35vw;
  height: 85vh;
  border: 2px solid #000000;
  border-radius: 20px;
  margin: 10vh auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.account-name {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #000000;
  font-family: Arial, sans-serif;
  font-weight: 800;
}

.account-gegevens {
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 1.3vw;
  color: #000000;
  font-family: 'Canva Sans', sans-serif;
  font-weight: 800;
}

.account-naam {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 1vw;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  line-height: 3;
}

.account-naam div {
  display: flex;
  justify-content: space-between;
  width: 20vw;
}

/* de placeholder tekst in het midden */
input[type="text"]:disabled {
  background: #dddddd;
}

.account {
  margin-top: 10px;
  width: 12vw;
  height: 1.5vw;
  background-color: #ffffff;
  border: 0.1vw solid #000000;
}

.account-password-link {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  font-family: 'Wachtwoord veranderen', sans-serif;
  font-size: 1vw;
  background-color: #0097B2;
  width: 15vw;
  height: 2vw;
  border-radius: 10vw;
  border: none;
  color: white;
  cursor: pointer;
}

.account-BMI {
  position: absolute;
  top: 48%;
  left: 10%;
  font-size: 1.3vw;
  color: #000000;
  font-family: 'Canva Sans', sans-serif;
  font-weight: 800;
}

.account-bmi-gegevens {
  position: absolute;
  top: 52%;
  left: 10%;
  font-size: 1vw;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  line-height: 3;
}

.account-bmi-gegevens div {
  display: flex;
  justify-content: space-between;
  width: 20vw;
}

.account-bewerken {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #0097B2, #A7C520);
  width: 15vw;
  height: 3vw;
  border-radius: 10vw;
  top: 39vw;
  border: none;
  cursor: pointer;
}

.account-gegevens-text {
  position: absolute;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4vw;
  left: 1.2vw;
  top: 0.8vw;
}

.account-verwijderen-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eb4034;
  font-family: 'HORIZON', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2vw;
  top: 42vw;
}
/* activiteit toevoegen */
.act-add-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  width: 1000px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  border: 2px solid #000000; 
  border-radius: 20px;
}

.act-add-title{
  text-align: center;
  padding-bottom: 100px;
}

.popup-border{
  border: 2px solid #000000; 
  border-radius: 20px;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.act-1,
.act-2,
.act-3{
  border: 2px solid #000000; 
  height: 50px;
  width: 100%;
  text-align: center;
}

.act-1:hover,
.act-2:hover,
.act-3:hover{
  background-color: #afafaf;
  cursor: pointer;
}

.lopen{
  position: absolute;
  height: 50px;
}

/* activiteit */
.gray{
  background-color: #c3c3c3;
  height: 200px;
  width: 100%;
}

#kcal{
  text-align: center;
  padding-bottom: 10px;  
}

input[id="number"]{
  position: absolute;
  left: 50%; 
  transform: translate(-50%, -50%); 
  flex: 1;
  width: 250px;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.opslaan{
  position: absolute;
  background: #0097B2;
  width: 15vw;
  height: 3vw;
  border-radius: 10vw;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  color: white;
}

.activiteit-container {
  background-color: #ffffff;
  width: 700px;
  height: 500px;
  position: absolute;
  top: 45%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  border: 2px solid #000000; 
  border-radius: 20px;
}

.act-title{
  text-align: center;
}

/*maaltijd toevoegen*/
.maaltijd-add-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  width: 1000px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  border: 2px solid #000000; 
  border-radius: 20px;
  text-align: center;
}

.search-button{
  background: rgb(83, 83, 83);
  width: 15vw;
  height: 2vw;
  border-radius: 10vw;
  border: none;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
}

.maaltijd-1,
.maaltijd-2{
  text-align: left;
  border: 2px solid #000000; 
  height: 50px;
  width: 100%;
}

.maaltijd-1:hover,
.maaltijd-2:hover{
  background-color: #afafaf;
  cursor: pointer;
}

/*zoekpopup*/
.search-container {
  background-color: #e3e3e3;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%; 
  transform: translate(-50%, -50%); 
  border: 2px solid #000000; 
  border-radius: 20px;
  text-align: center;
}

#search{
  margin-top: 20px;
  width: 250px;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 20px;
  outline: none;
}

#recent-title{
  text-align: left;
  color:#5c5c5c
}

#recent{
  text-align: left;
  color: #868686;
}

.result{
  background-color: #ffffff;
  margin-top: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 70px;
  padding: 12px;
  border: 2px solid #000000;
  border-radius: 20px;
  outline: none;
}

.result:hover{
  cursor: pointer;
}

.result-img{
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
}

.result-title{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 10px;
}

.result-title1{
  width: 200px;
}

/*maaltijd overzicht*/
.maaltijd-container {
  text-align: center;
  background-color: #e3e3e3;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  border: 2px solid #000000; 
  border-radius: 20px;
}

.maaltijd-img{
  margin-top: 50px;
  width: 100px;
  height: 100px;
}

.blokjes-container{
  display: flex;
  justify-content: space-between;
}

/*kenmerken blokje*/
.kenmerken-container{
  text-align: center;
  margin-left: 30px;
  background-color: #ffffff;
  width: 200px;
  height: 300px;
  border: 2px solid #000000; 
  border-radius: 20px;
}

.kenmerken-title{
  color: #5c5c5c;
}

.kenmerken{
  text-align: left;
}

.kenmerk{
  display: flex;
  justify-content: space-between;
}

.kenmerk-line{
  background-color: #5c5c5c;
  height: 1px;
  width: 100%;
  margin-bottom: 5px;
}

.kenmerk-digit{
  color: #5c5c5c;
}

.maaltijd-opslaan{
  margin-top: 50px;
  background: rgb(104, 104, 197);
  width: 10vw;
  height: 2vw;
  border-radius: 10vw;
  border: none;
  cursor: pointer;
  color: white;
}

/*"leuk feitje" blokje*/
.feitjes-container{
  text-align: center;
  background-color: #ffffff;
  width: 200px;
  height: 300px;
  border: 2px solid #000000; 
  border-radius: 20px;
  margin-right: 30px;
}