body{
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.account-button1 {
  position: absolute;
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  font-size: 1vw;
  border: none;
  cursor: pointer;
  border-radius: 1vw;
  transition: background-color 0.3s ease;
  left: 50vw;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparante achtergrond */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Zorg ervoor dat de overlay bovenop alles wordt weergegeven */
}

.overlay.show {
  display: flex; /* of display: block; of display: grid; afhankelijk van je lay-out */
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Schaduw voor de pop-up */
  max-width: 80%;
}

/* hier komen de aanpassingen voor de accountinstellingen */

.button-button1:hover {
  background-color: #45a049;
}


.border {
    width: 35vw; 
    height: 80vh; 
    border: 2px solid #000000; 
    border-radius: 20px; 
    margin: 10vh auto; 
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .name {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px; 
    color: #000000; 
    font-family: Arial, sans-serif; 
    font-weight: 800;
  }
  
  .gegevens {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 1.3vw; 
    color: #000000; 
    font-family: 'Canva Sans', sans-serif; 
    font-weight: 800; 
  }
  
  .gegevens-1 {
    position: absolute;
    top: 22%; 
    left: 10%; 
    font-size: 1vw; 
    color: #000000; 
    font-family: 'Open Sans', sans-serif; 
    line-height: 2.2;
}

  .gegevens-2 {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* de placeholder tekst in het midden */
input[type="text"] {
    text-align: center; 
}

.input {
    width: 8vw;
    height: 1.5vw; 
    background-color: #ffffff; 
    border: 0.1vw solid #000000; 
    display: block; /* Change from inline to block */
    margin-top: 0.5vw; /* Add margin to separate inputs */
}

  
  .password-link {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45%;
    font-family: 'Wachtwoord veranderen', sans-serif; 
    font-size: 1.2vw; 
    color: #0097B2; 
    text-decoration: underline; 
  }
  
  .BMI {
    position: absolute;
    top: 52%;
    left: 10%;
    font-size: 1.3vw; 
    color: #000000; 
    font-family: 'Canva Sans', sans-serif; 
    font-weight: 800; 
  }
  
  .gegevens-3 {
    position: absolute;
    top: 58%; 
    left: 10%; 
    font-size: 1vw; 
    color: #000000; 
    font-family: 'Open Sans', sans-serif; 
    line-height: 2.4;
  }
  .gegevens-4{
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .bewerken,
  .wwopslaan {
    position: absolute;
    background: linear-gradient(to right, #0097B2, #A7C520);
    width: 15vw;
    height: 3vw;
    border-radius: 10vw;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
  }
  
  .gegevens-text,
  .wwopslaan-text {
    position: absolute;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4vw;
    left: 1.2vw;
    top: 0.8vw;
  }
  
  .verwijderen-text {
    position: absolute;
    color: #eb4034; 
    font-family: 'HORIZON', sans-serif; 
    font-weight: bold; 
    text-decoration: none;
    font-size: 1.2vw;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ww-container {
    background-image: url("../img/popup.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f9f9f9;
    width: 700px;
    height: 500px;
    position: absolute;
    top: 45%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 2px solid #000000; 
    border-radius: 20px;
  }

  input[id="password"],
  input[id="password2"]{
    position: absolute;
    top: 55%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    flex: 1;
    width: 250px;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 20px;
    outline: none;
  }

  input[id="password2"]{
    top: 43%;
  }

  .wwopslaan{
    top: 70%;
  }
  .wwopslaan-text{
    font-size: 1vw;
  }
  
    