body{
  background-image: url("../img/background.png");
  background-repeat: no-repeat  ;
}

.dag-name {
    position: absolute;
    font-weight: 800;
    font-size: 1.4vw;
    color: #E5FFD0;
    font-family: 'Horizen', sans-serif;
    right: 4vw;
    top: 2.5vw;
    text-decoration: none;
}

/* Define initial styles */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparante achtergrond */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Zorg ervoor dat de overlay bovenop alles wordt weergegeven */
}

.overlay.show {
  display: flex; /* of display: block; of display: grid; afhankelijk van je lay-out */
}

/* activiteit toevoegen */
.act-add-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  width: 1000px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  border: 2px solid #000000; 
  border-radius: 20px;
}

.act-add-title{
  text-align: center;
  padding-bottom: 100px;
}

.popup-border{
  border: 2px solid #000000; 
  border-radius: 20px;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.act-1,
.act-2,
.act-3{
  border: 2px solid #000000; 
  height: 50px;
  width: 100%;
  text-align: center;
}

.act-1:hover,
.act-2:hover,
.act-3:hover{
  background-color: #afafaf;
  cursor: pointer;
}

.lopen{
  position: absolute;
  height: 50px;
}

/* activiteit */
.gray{
  background-color: #c3c3c3;
  height: 200px;
  width: 100%;
}

#kcal{
  text-align: center;
  padding-bottom: 10px;  
}

input[id="number"]{
  position: absolute;
  left: 50%; 
  transform: translate(-50%, -50%); 
  flex: 1;
  width: 250px;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.opslaan{
  position: absolute;
  background: #0097B2;
  width: 15vw;
  height: 3vw;
  border-radius: 10vw;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  color: white;
}

.activiteit-container {
  background-color: #ffffff;
  width: 700px;
  height: 500px;
  position: absolute;
  top: 45%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  border: 2px solid #000000; 
  border-radius: 20px;
}

.act-title{
  text-align: center;
}



/* dagoverzicht aanpassingen in de top */

.dag-top-border {
    position: absolute;
    width: 55vw; 
    height: 30vw; 
    background-color: white;
    border: 0.2vw solid black;
    border-radius: 2vw; 
    left: 21.5vw;
    top: 12vw;
  }

.dag-vandaag-text {
  position: absolute;
  color: #666666;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  font-size: 1.3vw;
  left: 3vw; 
  top: 1.5vw; 
}
  
.dag-datum-text {
    position: absolute;
    color: #666666;
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold; 
    font-size: 1.3vw;
    left: 25vw; 
    top: 1.5vw; 
}

  /* image voor calendar */

.dag-calendar {
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 45vw;
    top: 1vw;
}

.dag-week-text {
  position: absolute;
  color: #666666;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  font-size: 1.3vw;
  right: 2vw; 
  top: 1.5vw;
} 

.dag-samenvatting-text {
  position: absolute;
  color: #666666;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  font-size: 1.3vw;
  left: 23.8vw; 
  top: 8.5vw;
} 

.dag-midden-border {
  position: absolute;
  width: 32vw; 
  height: 13vw; 
  background-color: white;
  border: 0.3vw solid #666666;
  border-radius: 2vw; 
  left: 11.5vw;
  top: 12vw;
}

.dag-activiteit {
  position: absolute;
  color: black;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  font-size: 1.3vw;
  left: 3.8vw; 
  top: 3.5vw;
} 

.dag-activiteit-count {
  position: absolute;
  color: black;
  font-weight: bold; 
  font-size: 1.4vw;
  margin-top: 6vw;
  left: 7vw;
}

.dag-count {
  position: absolute;
  color: black;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  font-size: 1.3vw;
  left: 15.8vw; 
  top: 3.5vw;
} 

.dag-doel {
  position: absolute;
  color: black;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  font-size: 1.3vw;
  left: 22.8vw; 
  top: 3.5vw;
} 

.dag-calorie-count {
  position: absolute;
  color: black;
  font-weight: bold; 
  font-size: 1.4vw;
  right: 7.3vw; 
  top: 6vw;
} 

.dag-progress-bar {
  position: absolute;
  width: 7vw;
  height: 1vw;
  background-color: #ddd;
  border-radius: 0.5vw;
  border: 0.12vw solid black;
  bottom: 5.5vw;
  left: 12.7vw;
}

.dag-progress-bar-fill {
  height: 100%;
  background-color: #0097B2;
  border-radius: 0.5vw;
}

/* editing border links */

.dag-maaltijd {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  font-weight: bold;
  font-size: 1.5vw;;
  top: 50vw;
  left: 25vw;
}

.dag-middle-border {
  position: absolute;
  width: 35vw; 
  height: 30vw; 
  background-color: white;
  border: 0.2vw solid black;
  border-radius: 2vw; 
  left: 11.5vw;
  top: 53vw;
}

.dag-salad {
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  left: 3vw;
  top: 1.5vw;
}

.dag-maaltijd-toevoeg {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.4vw;
  left: 9vw;
  top: 3vw;
}

.dag-maaltijd-text {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.4vw;
  left: 11vw;
  top: 18vw;
}

.dag-maaltijd-text1 {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.4vw;
  left: 13vw;
  top: 20vw;
}

.dag-plus {
  width: 1.5vw;
  margin-right: 0.5vw;
  fill: white;
}

.dag-meal-button {
  display: flex; 
  align-items: center; 
  position: absolute;
  background-color: #0097B2;
  color: white;
  border: none;
  border-radius: 2vw;
  padding: 1vw 2vw;
  cursor: pointer;
  font-size: 1.3vw;
  top: 24vw;
  left: 10.7vw;
}

/* Editing border rechts */

.dag-Activiteit {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  font-weight: bold;
  font-size: 1.5vw;
  top: 50vw;
  left: 70vw;
}

.dag-middle2-border {
  position: absolute;
  width: 35vw; 
  height: 30vw; 
  background-color: white;
  border: 0.2vw solid black;
  border-radius: 2vw; 
  left: 55.5vw;
  top: 53vw;
}

.dag-jogging {
  position: absolute;
  width: 3.5vw;
  height: 3.5vw;
  left: 3.5vw;
  top: 1.5vw;
}

.dag-activiteit-toevoeg {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.4vw;
  left: 9vw;
  top: 3vw;
}

.dag-activiteit-text {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.4vw;
  left: 9vw;
  top: 18vw;
}

.dag-activiteit-text1 {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.4vw;
  left: 15vw;
  top: 20vw;
}

.dag-activity-button {
  display: flex; 
  align-items: center;
  position: absolute;
  background-color: #0097B2;
  color: white;
  border: none;
  border-radius: 2vw;
  padding: 1vw 2vw;
  cursor: pointer;
  font-size: 1.3vw;
  top: 24vw;
  left: 10.7vw;
}

/* de derde border editen */

.dag-middle3-border {
  position: absolute;
  width: 35vw; 
  height: 30vw; 
  background-color: white;
  border: 0.2vw solid black;
  border-radius: 2vw; 
  left: 11.5vw;
  top: 90vw;
}

.dag-maaltijd2-toevoeg {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.4vw;
  left: 11vw;
  top: 3vw;
}

/* eten toevoegen in derde border */

.dag-little-border {
  position: absolute;
  width: 20vw; 
  height: 3.5vw; 
  background-color: white;
  border: 0.2vw solid black;
  border-radius: 1.5vw; 
  left: 6.5vw;
  top: 6.5vw;
}

.dag-apple {
  position: absolute;	
  width: 2.5vw;
  top: 0.5vw;
  left: 1vw;
}

.dag-apple-text {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1vw;
  left: 5vw;
  top: 0.5vw;
}

.dag-apple-info {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #666666;
  font-size: 0.7vw;
  left: 5vw;
  top: 2vw;
}

.dag-apple-info::before {
  content: "●";
  margin-right: 0.2vw; /* Optioneel: voeg ruimte toe tussen de punt en de tekst */
}

.dag-plus2 {
  position: absolute;
  width: 2vw;
  top: 0.8vw;
  left: 16.5vw;
  transform: rotate(45deg);
  cursor: pointer;
}

.dag-button {
  background: none;
  border: none;
  padding: 0;
}


/* vierde border editen */

.dag-middle4-border {
  position: absolute;
  width: 35vw; 
  height: 30vw; 
  background-color: white;
  border: 0.2vw solid black;
  border-radius: 2vw; 
  left: 55.5vw;
  top: 90vw;
}

.dag-activiteit2-toevoeg {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.4vw;
  left: 11vw;
  top: 3vw;
}

.dag-little2-border {
  position: absolute;
  width: 8.5vw; 
  height: 8.5vw; 
  background-color: white;
  border: 0.3vw solid black;
  border-radius: 2vw; 
  left: 2.5vw;
  top: 7vw;
}

.dag-jogging2 {
  position: absolute;
  width: 4.5vw;
  top: 2vw;
  left: 2vw;
}

.dag-gelopen {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #666666;
  font-size: 1.4vw;
  left: 5.5vw;
  top: 17vw;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* voortgang bijhouden met gewicht */

.dag-voortgang {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #666666;
  font-size: 1.4vw;
  left: 43vw;
  top: 128vw;
}

.dag-voortgang-border {
  position: absolute;
  width: 37vw; 
  height: 14vw; 
  background-color: #666666;
  border: 0.2vw solid black;
  border-radius: 2vw; 
  left: 31.5vw;
  top: 132vw;
}

.dag-gewicht {
  position: absolute;
  font-weight: bold;
  color: white;
  font-size: 1.4vw;
  left: 16vw;
  top: 1vw;
}

.dag-plus3 {
  position: absolute;
  width: 3vw;
  top: 5vw;
  left: 25vw;
  cursor: pointer;
}

.dag-gewicht-mens {
  position: absolute;
  font-weight: bold;
  color: white;
  font-size: 2.5vw;
  left: 15.6vw;
  top: 4.5vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dag-min {
  position: absolute;
  width: 3.3vw;
  top: 4.8vw;
  left: 9.8vw;
  cursor: pointer;
}

.dag-gewicht-doel {
  position: absolute;
  font-weight: bold;
  color: white;
  font-size: 1.6vw;
  left: 16.9vw;
  top: 9vw;
}

.dag-gewicht-doel2 {
  position: absolute;
  font-weight: bold;
  color: white;
  font-size: 1.4vw;
  left: 17vw;
  top: 11.5vw;
}

.dag-button-gewicht {
  background: none;
  border: none;
  padding: 0;
}

.dag-button-gewicht2 {
  background: none;
  border: none;
  padding: 0;
}

/* de feitjes van elke dag bij houden */

.dag-feiten-border {
  position: absolute;
  width: 37vw; 
  height: 14vw; 
  background-color: white;
  border: 0.2vw solid black;
  border-radius: 2vw; 
  left: 31.5vw;
  top: 152vw;
}

.dag-feit {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 1.4vw;
  left: 14vw;
  top: 1.5vw;
}

.dag-feitjes {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 1.4vw;
  left: 6vw;
  top: 4.5vw;
}

/* editing in de footer */

.dag-footers {
  position: absolute;
  width: 100%;
  height: 20vw; 
  background-color: #F1F1F1;
  top: 168vw; 
}

.dag-logo-footer {
  position: absolute;
  width: 10vw;
  top: 2vw;
  left: 5vw;
}

.dag-footer-text {
  position: absolute;
  top: 9vw;
  left: 5vw;
}

.dag-about-link {
  position: absolute;
  top: 3.5vw;
  left: 30vw;
}