.dag-name {
    position: absolute;
    font-weight: 800;
    font-size: 1.4vw;
    color: #E5FFD0;
    font-family: 'Horizen', sans-serif;
    right: 4vw;
    top: 2.5vw;
    text-decoration: none;
}
/* dagoverzicht aanpassingen in de top */

.dag-top-border {
    position: absolute;
    width: 55vw; 
    height: 30vw; 
    background-color: white;
    border: 0.2vw solid black;
    border-radius: 10px; 
    left: 21.5vw;
    top: 12vw;
  }

.dag-vandaag-text {
  position: absolute;
  color: #666666;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  font-size: 1.3vw;
  left: 3vw; 
  top: 1.5vw; 
}
  
.dag-datum-text {
    position: absolute;
    color: #666666;
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold; 
    font-size: 1.3vw;
    left: 25vw; 
    top: 1.5vw; 
}

  /* image voor calendar */

.dag-calendar {
    position: absolute;
    width: 2vw;
    height: 2vw;
    left: 45vw;
    top: 1vw;
}

.dag-week-text {
  position: absolute;
  color: #666666;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  font-size: 1.3vw;
  right: 2vw; 
  top: 1.5vw;
} 

.dag-samenvatting-text {
  position: absolute;
  color: #666666;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  font-size: 1.3vw;
  left: 23.8vw; 
  top: 8.5vw;
} 

.dag-midden-border {
  position: absolute;
  width: 32vw; 
  height: 13vw; 
  background-color: white;
  border: 0.3vw solid #666666;
  border-radius: 2vw; 
  left: 11.5vw;
  top: 12vw;
}

.dag-activiteit {
  position: absolute;
  color: black;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  font-size: 1.3vw;
  left: 3.8vw; 
  top: 3.5vw;
} 

.dag-activiteit-count {
  position: absolute;
  color: black;
  font-weight: bold; 
  font-size: 1.4vw;
  margin-top: 6vw;
  left: 7vw;
}

.dag-count {
  position: absolute;
  color: black;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  font-size: 1.3vw;
  left: 15.8vw; 
  top: 3.5vw;
} 

.dag-doel {
  position: absolute;
  color: black;
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  font-size: 1.3vw;
  left: 22.8vw; 
  top: 3.5vw;
} 

.dag-calorie-count {
  position: absolute;
  color: black;
  font-weight: bold; 
  font-size: 1.4vw;
  right: 7.3vw; 
  top: 6vw;
} 

.dag-progress-bar {
  position: absolute;
  width: 7vw;
  height: 1vw;
  background-color: #ddd;
  border-radius: 0.5vw;
  border: 0.12vw solid black;
  bottom: 5.5vw;
  left: 12.7vw;
}

.dag-progress-bar-fill {
  height: 100%;
  background-color: #0097B2;
  border-radius: 0.5vw;
}

/* editing onder de border aan de top */

.dag-maaltijd {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: #666666;
  font-weight: bold;
  font-size: 1.5vw;;
  top: 50vw;
  left: 25vw;
}

.dag-middle-border {
  position: absolute;
  width: 35vw; 
  height: 30vw; 
  background-color: white;
  border: 0.2vw solid black;
  border-radius: 10px; 
  left: 11.5vw;
  top: 53vw;
}

.dag-salad {
  position: absolute;
  width: 3vw;
  height: 3vw;
  left: 10vw;
}
