body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*navbar bij startpagina aanpassen*/

.navbar {
  background: linear-gradient(to right, #0097B2, #A7C520);
  max-width: 100vw;
  height: 7vw;
}

.line {
  background: linear-gradient(to right, #0097B2, #A7C520);
  box-shadow: 0 0.3vw 0.5vw rgba(0, 0, 0, 0.5);
  max-width: 100vw;
  height: 0.3vw;
}

.logo {
  position: relative;
  max-width: 10vw;
  padding-left: 3vw;
  padding-top: 0.7vw;
}


/* alle fruit icons aanpassen bij startpagina */

.fruit-ananas {
  margin-top: 5vw;
  margin-left: 5vw;
  width: 7vw;
  transform: rotate(-10deg);
}

.fruit-kiwi {
  width: 7vw;
  padding-top: 12vw;
  padding-left: 13vw;
  transform: rotate(+10deg);
}

.fruit-watermelon {
  width: 5vw;
  padding-top: 21vw;
  padding-left: 4vw;
  transform: rotate(-10deg);
}

.fruit-peach {
  width: 5vw;
  padding-top: 27vw;
  padding-left: 13vw;
}

.fruit-banana {
  width: 6vw;
  padding-top: 35vw;
  padding-left: 5vw;
}

.fruit-pear {
  width: 6vw;
  padding-top: 40vw;
  padding-left: 12.5vw;
}

.fruit-apple {
  width: 6vw;
  padding-top: 48vw;
  transform: rotate(-10deg);
}

.fruit-ananas, .fruit-kiwi, .fruit-watermelon, .fruit-peach, .fruit-banana, .fruit-pear {
  position: absolute;
}

/* fruit icons aan de rechterkant aanpassen */

.right {
  right: 10vw;
}

.fruit-pear.right {
 bottom: 34vw;
}
.fruit-kiwi.right {
  top: 7vw;
  right: 1vw;
}

.fruit-watermelon.right {
  top: 8vw;
  right: 13vw;
}

.fruit-peach.right {
  top: 8vw;
  right: 3vw;
}

.fruit-banana.right {
  right: 12vw;
}

.fruit-apple.right {
  top: 8vw;
  left: 13vw;
}